data/image_clip.tif
data/image_export3.tif
data/subset_400.tif
kmeans_4clusters.tif
data/sen2_20180629_t30uvd_orb037_osgb_stdsref_20m.tif
data/sen2_20180629_t30uvd_orb037_osgb_stdsref_20m_vmsk.tif
data/kmeans_4clusters_new.tif.aux.xml
data/kmeans_4clusters_new.tif
data/aber_sen2_cls_training.gpkg
kmeans_4clusters.tif.aux.xml
data/image_normalized.tif
data/kmeans_4clusters_onehot.tif
data/stacked_norm_10bands_4clusters.tif
data/tmp/get_class_training_data_9b812a/artificial_surfaces_smpls_img.kea
data/tmp/get_class_training_data_c63fa6/artificial_surfaces_smpls_img.kea
data/sen2_20180629_t30uvd_orb037_osgb_stdsref_20m_cls_score.kea
data/sen2_20180629_t30uvd_orb037_osgb_stdsref_20m_cls.kea
data/cls_smpls/artificial_surfaces_smpls_test.h5
data/cls_smpls/artificial_surfaces_smpls_train.h5
data/cls_smpls/artificial_surfaces_smpls_valid.h5
data/cls_smpls/bare_rock_sand_smpls_test.h5
data/cls_smpls/bare_rock_sand_smpls_train.h5
data/cls_smpls/bare_rock_sand_smpls_valid.h5
data/cls_smpls/bracken_smpls_test.h5
data/cls_smpls/bracken_smpls_train.h5
data/cls_smpls/bracken_smpls_valid.h5
data/cls_smpls/conifer_forest_smpls_test.h5
data/cls_smpls/conifer_forest_smpls_train.h5
data/cls_smpls/conifer_forest_smpls_valid.h5
data/cls_smpls/deciduous_forest_smpls_test.h5
data/cls_smpls/deciduous_forest_smpls_train.h5
data/cls_smpls/deciduous_forest_smpls_valid.h5
data/cls_smpls/grass_long_smpls_test.h5
data/cls_smpls/grass_long_smpls_train.h5
data/cls_smpls/grass_long_smpls_valid.h5
data/cls_smpls/grass_short_smpls_test.h5
data/cls_smpls/grass_short_smpls_train.h5
data/cls_smpls/grass_short_smpls_valid.h5
data/cls_smpls/nonphoto_veg_smpls_test.h5
data/cls_smpls/nonphoto_veg_smpls_train.h5
data/cls_smpls/nonphoto_veg_smpls_valid.h5
data/cls_smpls/scrub_smpls_test.h5
data/cls_smpls/scrub_smpls_train.h5
data/cls_smpls/scrub_smpls_valid.h5
data/cls_smpls/water_smpls_test.h5
data/cls_smpls/water_smpls_train.h5
data/cls_smpls/water_smpls_valid.h5
data/tmp/artificial_surfaces_smpls.h5
data/tmp/bare_rock_sand_smpls.h5
data/tmp/bracken_smpls.h5
data/tmp/conifer_forest_smpls.h5
data/tmp/deciduous_forest_smpls.h5
data/tmp/grass_long_smpls.h5
data/tmp/grass_short_smpls.h5
data/tmp/nonphoto_veg_smpls.h5
data/tmp/scrub_smpls.h5
data/tmp/water_smpls.h5
data/tmp/get_class_training_data_40518d/artificial_surfaces_smpls_img.kea
